/**
 * When modifying any of these colors
 * please convert them into hexadecimal
 */

:root {
    /**
     * Main colors
     */
     --m-cl-1: #44355b;
     --m-cl-2: #eca72c;
     --m-cl-3: #ee5622;

    /**
     * Main color variants
     */
     --m-cl-1-1: #31263e;
     --m-cl-1-2: #5f5372;
     --m-cl-2-1: #d19328;
     --m-cl-2-2: #ffbc49;
     --m-cl-3-1: #b93c12;
     --m-cl-3-2: #fa6d3d;

    /**
     * HTML code color.
     * used to resalt classes and elements on the guide page
     */
    --cd-1: #d454c8;

    /**
     * Selection color.
     * Used as background color when selecting text with the cursor
     */
     --sl-cl: #ebeff2;

    /**
     * Monochromatic colors.
     * Used for neutral colors and gradients
     */
    --mc-15: #ffffff;
    --mc-14: #eeeeee;
    --mc-13: #dddddd;
    --mc-12: #cccccc;
    --mc-11: #bbbbbb;
    --mc-10: #aaaaaa;
    --mc-9: #999999;
    --mc-8: #888888;
    --mc-7: #777777;
    --mc-6: #666666;
    --mc-5: #555555;
    --mc-4: #444444;
    --mc-3: #333333;
    --mc-2: #222222;
    --mc-1: #111111;
    --mc-0: #000000;
}