header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 3em 5em;

    font: 1em Market_Deco;
}
header a {
    color: var(--tigers_eye);
    text-decoration: none;
}
header a:hover {
    filter: brightness(50%);
}

.logo {
    display: flex;
    flex-basis: 1em;
    align-items: center;

    color: var(--police_blue);
    font: 1em Hintown;
}

.menu {
    flex-basis: 50em;
}
.menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    list-style: none;
}

.access {
    justify-self: flex-end;

    list-style: none;
}