/**
 * When modifying any of these colours
 * please convert them into hexadecimal
 */

:root {
    /**
     * Main colours
     */
     --m-cl-1: #5d4287;
     --m-cl-2: #eca72c;
     --m-cl-3: #ee5622;

    /**
     * Main colour variants
     */
     --m-cl-1-1: #31263e;
     --m-cl-1-2: #5f5372;

     --m-cl-2-l1: #edaf41;
     --m-cl-2-l2: #efb856;
     --m-cl-2-l3: #f1c16b;
     --m-cl-2-l4: #f3ca80;
     --m-cl-2-l5: #f5d395;
     --m-cl-2-l6: #f7dbaa;
     --m-cl-2-l7: #f9e4bf;
     --m-cl-2-l8: #fbedd4;
     --m-cl-2-l9: #fdf6e9;

     --m-cl-2-d1: #ea9e16;
     --m-cl-2-d2: #d69013;
     --m-cl-2-d3: #c18211;
     --m-cl-2-d4: #ac740f;
     --m-cl-2-d5: #97650d;
     --m-cl-2-d6: #82570b;
     --m-cl-2-d7: #6d4909;
     --m-cl-2-d8: #583b07;
     --m-cl-2-d9: #422d06;

     --m-cl-3-1: #b93c12;
     --m-cl-3-2: #fa6d3d;

    /**
     * HTML code colour.
     * used to resalt classes and elements on the guide page
     */
    --cd-1: #d454c8;

    /**
     * Link colour.
     */
    --l-cl: #3455eb;

    /**
     * Selection colour.
     * Used as background colour when selecting text with the cursor
     */
     --sl-cl: #ebeff2;

    /**
     * Monochromatic colours.
     * Used for neutral colours and gradients
     */
    --mc-15: #ffffff;
    --mc-14: #eeeeee;
    --mc-13: #dddddd;
    --mc-12: #cccccc;
    --mc-11: #bbbbbb;
    --mc-10: #aaaaaa;
    --mc-9: #999999;
    --mc-8: #888888;
    --mc-7: #777777;
    --mc-6: #666666;
    --mc-5: #555555;
    --mc-4: #444444;
    --mc-3: #333333;
    --mc-2: #222222;
    --mc-1: #111111;
    --mc-0: #000000;
}