.button {
    padding: .5rem 1rem;

    width: fit-content;
    height: fit-content;

    border: 1px solid inherit;
    border-radius: 2rem;

    color: inherit;
    background-color: inherit;

    text-decoration: none;

    transition: all .2s;
}

.button:hover {
    cursor: pointer;

    background-color: var(--hv-e-bg);
}