.button {
    padding: .5rem 1rem;

    width: fit-content;
    height: fit-content;

    border: 1px solid var(--e-bd);
    border-radius: 2rem;

    color: var(--e-cl);
    background-color: var(--e-bg);

    text-decoration: none;

    transition: all .2s;
}

.button:hover {
    cursor: pointer;

    background-color: var(--hv-e-bg);
}