/**
 * This style page acts as a mean to easily stylish
 * individial HTML elements.
 * 
 *      - All units are represented in rems
 *      - Values that could be infinite such as _margin_ only range from 0 to 10
 *      - Some common abbreviations are:
 *          - fl: flex
 *          - mg: margin
 *          - pd: padding
 */

/**
 * Flex styles
 */
.flex { display: flex; }

.fl-r { flex-direction: row; }
.fl-c { flex-direction: column; }
/* Flex-grow & flex-shrink */
.fl-g-0 { flex-grow: 0; } .fl-g-1 { flex-grow: 1; } .fl-g-2 { flex-grow: 2; } .fl-g-3 { flex-grow: 3; } .fl-g-4 { flex-grow: 4; } .fl-g-5 { flex-grow: 5; } .fl-g-6 { flex-grow: 6; } .fl-g-7 { flex-grow: 7; } .fl-g-8 { flex-grow: 8; } .fl-g-9 { flex-grow: 9; } .fl-g-10 { flex-grow: 10; }
.fl-s-0 { flex-shrink: 0; } .fl-s-1 { flex-shrink: 1; } .fl-s-2 { flex-shrink: 2; } .fl-s-3 { flex-shrink: 3; } .fl-s-4 { flex-shrink: 4; } .fl-s-5 { flex-shrink: 5; } .fl-s-6 { flex-shrink: 6; } .fl-s-7 { flex-shrink: 7; } .fl-s-8 { flex-shrink: 8; } .fl-s-9 { flex-shrink: 9; } .fl-s-10 { flex-shrink: 10; }

/**autoinherui
 * Justify content / items / text stlyes
 */
.jc-c { justify-content: center; }
.ji-c { justify-items: center; }
.ta-c { text-align: center; } 

/**
 * Margin styles
 */
.mg-a, .mg-v-a, .mg-h-a { margin: auto; } .mg-in, .mg-v-in, .mg-h-in { margin: inherit; }
.mg-0 { margin: 0; } .mg-1 { margin: 1rem; } .mg-2 { margin: 2rem; } .mg-3 { margin: 3rem; } .mg-4 { margin: 4rem; } .mg-5 { margin: 5rem; } .mg-6 { margin: 6rem; } .mg-7 { margin: 7rem; } .mg-8 { margin: 8rem; } .mg-9 { margin: 9rem; } .mg-10 { margin: 10rem; }
/* Vertical & horizontal margins  */
.mg-v-0 { margin: 0 inherit; } .mg-v-1 { margin: 1rem auto; } .mg-v-2 { margin: 2rem auto; } .mg-v-3 { margin: 3rem auto; } .mg-v-4 { margin: 4rem auto; } .mg-v-5 { margin: 5rem auto; } .mg-v-6 { margin: 6rem auto; } .mg-v-7 { margin: 7rem auto; } .mg-v-8 { margin: 8rem auto; } .mg-v-9 { margin: 9rem auto; } .mg-v-10 { margin: 10rem auto; }

.mg-h-0 { margin: auto 0; } .mg-h-1 { margin: auto 1rem; } .mg-h-2 { margin: auto 2rem; } .mg-h-3 { margin: auto 3rem; } .mg-h-4 { margin: auto 4rem; } .mg-h-5 { margin: auto 5rem; } .mg-h-6 { margin: auto 6rem; } .mg-h-7 { margin: auto 7rem; } .mg-h-8 { margin: auto 8rem; } .mg-h-9 { margin: auto 9rem; } .mg-h-10 { margin: auto 10rem; }

/* Top, bottom, right & left individual margins */
.mg-t-a { margin-top: auto; } .mg-t-in { margin-top: inherit; }
.mg-t-0 { margin-top: 0; } .mg-t-1 { margin-top: 1rem; } .mg-t-2 { margin-top: 2rem; } .mg-t-3 { margin-top: 3rem; } .mg-t-4 { margin-top: 4rem; } .mg-t-5 { margin-top: 5rem; } .mg-t-6 { margin-top: 6rem; } .mg-t-7 { margin-top: 7rem; } .mg-t-8 { margin-top: 8rem; } .mg-t-9 { margin-top: 9rem; } .mg-t-10 { margin-top: 10rem; }

.mg-b-a { margin-bottom: auto; } .mg-b-in { margin-bottom: inherit; }
.mg-b-0 { margin-bottom: 0; } .mg-b-1 { margin-bottom: 1rem; } .mg-b-2 { margin-bottom: 2rem; } .mg-b-3 { margin-bottom: 3rem; } .mg-b-4 { margin-bottom: 4rem; } .mg-b-5 { margin-bottom: 5rem; } .mg-b-6 { margin-bottom: 6rem; } .mg-b-7 { margin-bottom: 7rem; } .mg-b-8 { margin-bottom: 8rem; } .mg-b-9 { margin-bottom: 9rem; } .mg-b-10 { margin-bottom: 10rem; }

.mg-r-a { margin-right: auto; } .mg-r-in { margin-right: inherit; }
.mg-r-0 { margin-right: 0; } .mg-r-1 { margin-right: 1rem; } .mg-r-2 { margin-right: 2rem; } .mg-r-3 { margin-right: 3rem; } .mg-r-4 { margin-right: 4rem; } .mg-r-5 { margin-right: 5rem; } .mg-r-6 { margin-right: 6rem; } .mg-r-7 { margin-right: 7rem; } .mg-r-8 { margin-right: 8rem; } .mg-r-9 { margin-right: 9rem; } .mg-r-10 { margin-right: 10rem; }

.mg-l-a { margin-left: auto; } .mg-l-in { margin-left: inherit; }
.mg-l-0 { margin-left: 0; } .mg-l-1 { margin-left: 1rem; } .mg-l-2 { margin-left: 2rem; } .mg-l-3 { margin-left: 3rem; } .mg-l-4 { margin-left: 4rem; } .mg-l-5 { margin-left: 5rem; } .mg-l-6 { margin-left: 6rem; } .mg-l-7 { margin-left: 7rem; } .mg-l-8 { margin-left: 8rem; } .mg-l-9 { margin-left: 9rem; } .mg-l-10 { margin-left: 10rem; }

/**
 * Padding styles
 */
.pd-a, .pd-v-a, .pd-h-a { padding: auto; } .pd-in, .pd-v-in, .pd-h-n { padding: inherit; }
.pd-0 { padding: 0; } .pd-1 { padding: 1rem; } .pd-2 { padding: 2rem; } .pd-3 { padding: 3rem; } .pd-4 { padding: 4rem; } .pd-5 { padding: 5rem; } .pd-6 { padding: 6rem; } .pd-7 { padding: 7rem; } .pd-8 { padding: 8rem; } .pd-9 { padding: 9rem; } .pd-10 { padding: 10rem; }
/* Vertical & horizontal paddings  */
.pd-v-0 { padding: 0 auto; } .pd-v-1 { padding: 1rem auto; } .pd-v-2 { padding: 2rem auto; } .pd-v-3 { padding: 3rem auto; } .pd-v-4 { padding: 4rem auto; } .pd-v-5 { padding: 5rem auto; } .pd-v-6 { padding: 6rem auto; } .pd-v-7 { padding: 7rem auto; } .pd-v-8 { padding: 8rem auto; } .pd-v-9 { padding: 9rem auto; } .pd-v-10 { padding: 10rem auto; }

.pd-h-0 { padding: auto 0; } .pd-h-1 { padding: auto 1rem; } .pd-h-2 { padding: auto 2rem; } .pd-h-3 { padding: auto 3rem; } .pd-h-4 { padding: auto 4rem; } .pd-h-5 { padding: auto 5rem; } .pd-h-6 { padding: auto 6rem; } .pd-h-7 { padding: auto 7rem; } .pd-h-8 { padding: auto 8rem; } .pd-h-9 { padding: auto 9rem; } .pd-h-10 { padding: auto 10rem; }

/* Top, bottom, right & left individual paddings */
.pd-t-a { padding-top: auto; } .pd-t-in { padding-top: inherit; }
.pd-t-0 { padding-top: 0; } .pd-t-1 { padding-top: 1rem; } .pd-t-2 { padding-top: 2rem; } .pd-t-3 { padding-top: 3rem; } .pd-t-4 { padding-top: 4rem; } .pd-t-5 { padding-top: 5rem; } .pd-t-6 { padding-top: 6rem; } .pd-t-7 { padding-top: 7rem; } .pd-t-8 { padding-top: 8rem; } .pd-t-9 { padding-top: 9rem; } .pd-t-10 { padding-top: 10rem; }

.pd-b-a { padding-bottom: auto; } .pd-b-in { padding-bottom: inherit; }
.pd-b-0 { padding-bottom: 0; } .pd-b-1 { padding-bottom: 1rem; } .pd-b-2 { padding-bottom: 2rem; } .pd-b-3 { padding-bottom: 3rem; } .pd-b-4 { padding-bottom: 4rem; } .pd-b-5 { padding-bottom: 5rem; } .pd-b-6 { padding-bottom: 6rem; } .pd-b-7 { padding-bottom: 7rem; } .pd-b-8 { padding-bottom: 8rem; } .pd-b-9 { padding-bottom: 9rem; } .pd-b-10 { padding-bottom: 10rem; }

.pd-r-a { padding-right: auto; } .pd-r-in { padding-right: inherit; }
.pd-r-0 { padding-right: 0; } .pd-r-1 { padding-right: 1rem; } .pd-r-2 { padding-right: 2rem; } .pd-r-3 { padding-right: 3rem; } .pd-r-4 { padding-right: 4rem; } .pd-r-5 { padding-right: 5rem; } .pd-r-6 { padding-right: 6rem; } .pd-r-7 { padding-right: 7rem; } .pd-r-8 { padding-right: 8rem; } .pd-r-9 { padding-right: 9rem; } .pd-r-10 { padding-right: 10rem; }

.pd-l-a { padding-left: auto; } .pd-l-in { padding-left: inherit; }
.pd-l-0 { padding-left: 0; } .pd-l-1 { padding-left: 1rem; } .pd-l-2 { padding-left: 2rem; } .pd-l-3 { padding-left: 3rem; } .pd-l-4 { padding-left: 4rem; } .pd-l-5 { padding-left: 5rem; } .pd-l-6 { padding-left: 6rem; } .pd-l-7 { padding-left: 7rem; } .pd-l-8 { padding-left: 8rem; } .pd-l-9 { padding-left: 9rem; } .pd-l-10 { padding-left: 10rem; }

/* Width / Height */
.w-a { width: auto; } .w-in { width: inherit; } .w-fit { width: fit-content; } .w-min { width: min-content; } .w-max { width: max-content; }
.w-all { width: 100%; } .w-9 { width: 90%; } .w-8 { width: 80%; } .w-7 { width: 70%; } .w-6 { width: 60%; } .w-5 { width: 50%; } .w-4 { width: 40%; } .w-3 { width: 30%; } .w-2 { width: 20%; } .w-1 { width: 10%; } .w-0 { width: 0%; }

.min-w-a { min-width: auto; } .min-w-in { min-width: inherit; } .min-w-fit { min-width: fit-content; } .min-w-min { min-width: min-content; } .min-w-max { min-width: max-content; }
.min-w-all { min-width: 100%; } .min-w-9 { min-width: 90%; } .min-w-8 { min-width: 80%; } .min-w-7 { min-width: 70%; } .min-w-6 { min-width: 60%; } .min-w-5 { min-width: 50%; } .min-w-4 { min-width: 40%; } .min-w-3 { min-width: 30%; } .min-w-2 { min-width: 20%; } .min-w-1 { min-width: 10%; } .min-w-0 { min-width: 0%; }

.h-a { height: auto; } .h-in { height: inherit; } .h-fit { height: fit-content; } .h-min { height: min-content; } .h-max { height: max-content; }
.h-all { height: 100%; } .h-9 { height: 90%; } .h-8 { height: 80%; } .h-7 { height: 70%; } .h-6 { height: 60%; } .h-5 { height: 50%; } .h-4 { height: 40%; } .h-3 { height: 30%; } .h-2 { height: 20%; } .h-1 { height: 10%; } .h-0 { height: 0%; }

.min-h-a { min-height: auto; } .min-h-in { min-height: inherit; } .min-w-fit { min-height: fit-content; } .min-h-min { min-height: min-content; } .min-h-max { min-height: max-content; }
.min-h-all { min-height: 100%; } .min-h-9 { min-height: 90%; } .min-h-8 { min-height: 80%; } .min-h-7 { min-height: 70%; } .min-h-6 { min-height: 60%; } .min-h-5 { min-height: 50%; } .min-h-4 { min-height: 40%; } .min-h-3 { min-height: 30%; } .min-h-2 { min-height: 20%; } .min-h-1 { min-height: 10%; } .min-h-0 { min-height: 0%; }