form.search-form {
    position: relative;
    display: flex;
    align-items: center;

    width: 100%;
    height: fit-content;
}

input.search-bar {
    padding: .5rem 1rem .5rem 2.5rem;

    width: 100%;

    border: none;
    border-radius:1rem;

    font-size: 1rem;

    color: var(--mc-4);

    box-shadow: 0px 0px 0px 1px var(--mc-4);

    background-image: url(../../img/icons/magnifying-glass.svg);
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 20px;

    transition: .2s;
}
input.search-bar::placeholder {
    font-size: 1rem;
}

input.search-bar:focus {
    outline: none;
    box-shadow: 0px 0px 0px 2px var(--mc-4);
    padding-left: 1rem;
    background-position: -25px center;
}