div.slider {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.slider > * {
    margin: .5rem;
}

.button.slider-button {
    position: relative;

    padding: 0;
    width: 3rem;
    height: 3rem;

    border: none;
    border-radius: 50%;
    color: var(--btn-cl-2);
    background-color: var(--btn-bg-2);

    transition-duration: .5s;

}

.button.slider-button:hover {
    background-color: var(--hv-btn-bg-1);
}

.button.slider-button img {
    position: absolute;

    top: 50%;
    left: 50%;

    width: 1rem;
}

.button.slider-button:first-child img {
    transform: translate(-60%, -50%);
}
.button.slider-button:last-child img {
    transform: translate(-40%, -50%);
}

div.slider-wrapper {
    position: relative;

    width: 225px;

    overflow: hidden;
}

ul.slider-content {
    display: flex;
    position: relative;

    left: 0px;

    width: fit-content;

    transition: .5s;
}

ul.slider-content > * {
    margin: 5px;
}

li.slider-item {
    list-style: none;

    width: 5rem;
}

li.slider-item .button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: .5rem;

    width: 100%;
    height: 100%;

    border: none;
    border-radius: .4rem;

    box-shadow: none;

    background-color: var(--mc-1);
}

li.slider-item .button:hover {
    box-shadow: 0px 2px 10px var(--e-shd);
    transform: translateY(-2px);
}

li.slider-item .button img {
    width: 60%;
}

li.slider-item .button img + * {
    margin-top: .5rem;
}