.slider {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider > * {
    margin: .5rem;
}

.slider_button {
    position: relative;

    padding: 0;
    width: 2rem;
    height: 2rem;

    border: none;
    border-radius: 50%;
    color: var(--btn-cl-2);
    background-color: var(--btn-bg-1);

    transition-duration: .5s;

}

.slider_button:hover {
    background-color: var(--hv-bg);
}

.slider_button img {
    position: absolute;

    top: 50%;
    left: 50%;

    width: 1rem;
}

.slider_button:first-child img {
    transform: translate(-60%, -50%);
}
.slider_button:last-child img {
    transform: translate(-40%, -50%);
}

.slider_wrapper {
    position: relative;

    width: 180px;

    overflow: hidden;
}

.slider_content {
    display: flex;
    position: relative;

    left: 0px;

    width: fit-content;

    transition: .5s;
}

.slider_content > * {
    margin: 5px;
}

.slider_item {
    list-style: none;

    width: 50px;
}

.slider_item .button {
    display: flex;
    flex-direction: column;

    padding: .5rem;

    border: none;
    border-radius: .4rem;

    box-shadow: none;

    background-color: var(--mc-1);
}

.slider_item .button:hover {
    box-shadow: 0px 2px 5px var(--e-shd);
    transform: translateY(-2px);
}

.slider_item .button img {
    width: 2rem;
}

.slider_item .button small {
    margin-top: .5rem;
}
